@model CounterViewModel

<h3>Counter View Component</h3>
<h5>@nameof(this.Model.ConnectID) = @this.Model.ConnectID</h5>
<h5>@nameof(this.Model.StreamID) = @this.Model.StreamID</h5>
<h5>@nameof(this.Model.Count) = @this.Model.Count</h5>